/*Root*/
:root{
    --clr-white:#F5F5F5;
    --clr-black:#2D2D2D;
    --clr-blue:#4A90A4;
    --clr-brown:#C08457;
    --clr-orange:#E6B325;
    --transition:all 0.4s ease-in-out;
}
/*Header*/
header{
    background-image: url(../images/header-background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    height: 700px;
}
/*Top header*/
.top_header{
    height: 100px;
    border-bottom: 2px solid lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Menu*/
.top_header .menu ul li{
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
}
.top_header .menu ul li a{
    color: var(--clr-white);
}
.top_header .menu ul li a:hover{
    color: var(--clr-orange);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
/*Header icons color*/
.top_header a svg{
    color: var(--clr-white);
    margin-right: 10px;
}
.top_header a svg:hover,.top_header a svg:visited{
    color: var(--clr-orange);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
