/*Root*/
:root{
    --clr-white:#F5F5F5;
    --clr-black:#2D2D2D;
    --clr-blue:#4A90A4;
    --clr-brown:#926440;
    --clr-orange:#E6B325;
    --clr-grey:rgb(182, 182, 182);
    --transition:all 0.4s ease-in-out;
    scroll-behavior: smooth;
}
/*Header*/
header{
    background-image: url(../images/header-background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    background-blend-mode: multiply;
    height: 600px;
}
/*Top header*/
.top_header{
    height: 100px;
    border-bottom: 2px solid lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Menu*/
.top_header .menu ul li{
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
}
.top_header .menu ul li a{
    color: var(--clr-white);
}
.top_header .menu ul li a:hover{
    color: var(--clr-orange);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
/*Header icons color*/
.top_header a svg{
    color: var(--clr-white);
    margin-right: 10px;
}
.top_header a svg:hover,.top_header a svg:visited{
    color: var(--clr-orange);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
/*Middle header*/
.middle_header{
    display: flex;
    flex-direction: column;
}
/*Titles*/
.titles{
    margin-top: 5%;
    text-align: center;  
}
.titles h1, .titles h2{
    margin-right: 50%;
}
.titles h1{
    font-size: 3.5rem;
    color: var(--clr-white);
}
.titles h2{
    font-size: 2.5rem;
    color: var(--clr-black);
}
/*Searchbox*/
.middle_header .searchbox{
    text-align: center;
    margin-top: 5%;
    margin-right: 50%;
}
.middle_header .searchbox form{
    position: relative;
}
.middle_header .searchbox form input[type="text"]{
    background:none;
    width: 60%;
    padding: 10px 15px;
    border: 2px solid var(--clr-black);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.middle_header .searchbox form input[type="text"]::placeholder{
    color: #000;
}
.middle_header .searchbox form input[type="text"]:focus,
.middle_header .searchbox form input[type="text"]:hover{
    outline: none;
    border: 2px solid var(--clr-white);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.middle_header .searchbox form svg{
    position: absolute;
    top: 8px;
    left: 140px;
    color: var(--clr-black);
}
/*Category*/
.categories{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.categories .title{
    margin:0 auto 20px;
}
/*Main Category title*/
.categories h2{
    width: fit-content;
    display: inline-block;
    color: var(--clr-brown);
    border-bottom: 2px solid var(--clr-orange);
    font-size: 40px;
}
.categories .category{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
/*One category item*/
.categories .category .category-item{
    padding: 5px 30px;
    border: 2px solid var(--clr-blue);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.categories .category .category-item a{
    display: flex;
    align-items: center;
    color: var(--clr-black);
}
.categories .category .category-item a p{
    margin-left: 5px;
}
.categories .category .category-item:hover {
    border: 2px solid var(--clr-orange);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.categories .category .category-item:hover a{
    color: var(--clr-brown);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
