/*Header*/
header{
    background-image: url(../images/header-background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    height: 700px;
}
/*Top header*/
.top_header{
    height: 100px;
    border-bottom: 2px solid lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Registeration*/
.top_header .register img{
    height: 40px;
}
/*Menu*/
.top_header .menu ul li{
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
}
/*Menu item's color*/
.top_header .menu ul li a:link,
.top_header .menu ul li a:visited ,
.top_header .menu ul li a:hover,
.top_header .menu ul li a:active{
    color: #2D2D2D;
}
/*Scial media icons*/
.top_header .social_medias img{
    height: 40px;
    margin-right: 25px;
}
